<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kaumar</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@3.7.15/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@3.7.15/dist/vuetify-labs.min.css" rel="stylesheet">

  <!-- <script type="text/x-template" id="xyz-template">
    <v-container fluid>
      <div class="text-h5">Xys</div>
      <p>About xyz</p>
    </v-container>
  </script> -->

  <script type="text/x-template" id="about-template">
    <v-container fluid>
      <v-card>
        <v-card-title class="text-h5">About Kaumar Community</v-card-title>
        <v-card-text>
          <p>
            Welcome to Kaumar, a vibrant and inclusive community designed specifically for Indian-origin parents and their young adult children residing in the United States. Our community is rooted in the rich cultural heritage of India while embracing the diverse experiences of living in a modern, multicultural society.
          </p>
          <p class="mt-5">
            At Kaumar, we understand the unique challenges and joys that come with guiding children through the journey of relationships and marriage. Our mission is to create a supportive environment where members can connect, share experiences, and offer mutual support. Whether you are a parent navigating the complexities of helping your child find a life partner or a young adult seeking advice and understanding, you will find a place here that resonates with your experiences and values.
          </p>
          <p class="mt-5">
            Our community is built on the principles of belonging, mutual support, and cultural preservation. We believe in the power of shared experiences and the strength that comes from collective wisdom. By fostering a space where both parents and young adults can engage in meaningful conversations, we aim to bridge generational gaps and promote understanding and respect across age groups.
          </p>
          <p class="mt-5">
            Kaumar is not just a platform for finding life partners within the community; rather, it serves as a robust network that provides emotional, practical, and informational support. While members may form valuable connections and friendships, our primary focus is on creating a supportive ecosystem that aids in the search for life partners externally through shared resources, recommendations, and a sense of camaraderie.
          </p>
          <p class="mt-5">
            We are proud to be an independent community, unaffiliated with any other institutions, dedicated solely to the well-being and support of our members. Our activities range from virtual meetups and cultural celebrations to workshops with relationship experts and resource-sharing sessions. We encourage active participation, whether through joining discussions, attending events, or contributing your own experiences and insights.
          </p>
          <p class="mt-5">
            Join us at Kaumar and become part of a community that values your journey, understands your challenges, and celebrates your successes. Together, we can navigate the path of relationships and marriage with confidence, cultural awareness, and mutual support.
          </p>
        </v-card-text>
      </v-card>
    </v-container>
  </script>

  <script type="text/x-template" id="faq-template">
    <v-container fluid>
      <v-card>
        <v-card-title class="text-h5">FAQ</v-card-title>
        <v-card-text>
          <v-row>
            <v-col
              v-for="(faqGroup, groupIndex) in faqs"
              :key="groupIndex"
              cols="12"
              md="6"
            >
              <v-card class="mb-4">
                <v-card-title>{{ faqGroup.title }}</v-card-title>
                <v-card-text>
                  <v-row
                    v-for="(faq, faqIndex) in faqGroup.faqs"
                    :key="faqIndex"
                    class="mb-4"
                  >
                    <v-col cols="12">
                      <p class="text-subtitle-1">{{ faq.question }}</p>
                      <v-divider></v-divider>
                      <p class="mt-2">{{ faq.answer }}</p>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>          
        </v-card-text>
      </v-card>
    </v-container>
  </script>

  <script type="text/x-template" id="home-template">
    <v-container fluid class="text-center">
      <p class="text-h2 font-weight-bold mt-10">
        Welcome to <i XXstyle="color: purple">Kaumar</i>
      </p>
      <v-img
        class="mt-5"
        src="/images/logo.png"
        alt="Company Logo"
        max-height="100"
      ></v-img>

      <div class="text-h4 mt-10 font-weight-bold">
        <p>Your Supportive Community for Indian-Origin Parents and Young Adults.</p>
        <p class="mt-5">Connect, Share, and Thrive Together!</p>
      </div>
      <p class="text-h5 mt-10">Join a vibrant community where Indian-origin parents and young adults come together to support each other, share experiences, and navigate the journey of relationships and marriage with cultural understanding and modern perspectives — membership is entirely free.</p>

      <v-row class="mt-10 ml-10 mr-10">
        <v-col
          v-for="(card, index) in cards"
          :key="index"
          cols="12"
          md="4"
          class="d-flex">
          <v-card rounded="xl"
            class="mx-auto flex-card" hover
            @click="cardAction(card.id)"
            max-width="500">
            <v-img
              class="align-end text-white"
              height="150"
              :src="card.image"
              cover>
              <v-card-title class="text-wrap text-h5">{{card.title}}</v-card-title>
            </v-img>
            <v-card-text class="flex-grow-1">
              <div class="text-h6">{{card.description}}</div>
            </v-card-text>
            <!-- <v-card-actions>
              <v-btn XXcolor="orange" :text="card.buttonCaption"></v-btn>
            </v-card-actions> -->
          </v-card>
        </v-col>
      </v-row>


      <v-row class="mt-10 ml-10 mr-10 Xtext-left">
        <v-col>
          <div ref="learnMore">
            <v-row>
              <v-col>
                <v-card class="pb-10">

                  <v-card-title class="font-weight-bold mt-4">What is Kaumar Community?</v-card-title>
                  <v-card-text>
                    <p>Kaumar community for Indian-origin parents and their young adult children residing in the United States. Our focus is on creating a supportive and inclusive environment where members can share experiences, offer mutual support, and navigate the journey of relationships and marriage with cultural understanding and modern perspectives.</p>
                  </v-card-text>

                  <v-divider></v-divider>

                  <v-card-title class="font-weight-bold mt-10">Goals and Objectives</v-card-title>
                  <v-row class="pl-10 pr-10">
                    <v-col
                      v-for="(item, index) in goalsAndObjectives"
                      :key="index" cols="12" md="6" lg="4">
                      <v-card class="mx-auto">
                        <v-card-title class="text-wrap headline">{{ item.title }}</v-card-title>
                        <v-card-text>
                          {{ item.description }}
                        </v-card-text>
                      </v-card>
                    </v-col>
                  </v-row>

                  <v-divider class="mt-5"></v-divider>

                  <v-card-title class="font-weight-bold mt-10">Essential Rules for Community Harmony</v-card-title>
                  <v-row class="pl-10 pr-10">
                    <v-col
                      v-for="(item, index) in rules"
                      :key="index" cols="12" md="6" lg="4">
                      <v-card class="mx-auto">
                        <v-card-title class="text-wrap headline">{{ item.title }}</v-card-title>
                        <v-card-text>
                          {{ item.description }}
                        </v-card-text>
                      </v-card>
                    </v-col>
                  </v-row>

                  <v-divider class="mt-5"></v-divider>

                  <v-card-title class="font-weight-bold mt-10">Clarification on Partner Search:</v-card-title>
                  <v-card-text>
                    <p>While members may form connections and friendships within the community, it is important to note that the primary purpose of Kaumar community is <strong>not</strong> to facilitate the search for life partners among its members. Our community serves as a robust network that provides emotional, practical, and informational support, and may offer recommendations and resources to aid in the search for life partners externally. However, <strong>direct matchmaking within the community is not its core function</strong>.
                    </p>
                  </v-card-text>


                </v-card>
              </v-col>
            </v-row>            
          </div>
        </v-col>
      </v-row>

      <v-row class="mt-10 ml-10 mr-10">
        <v-col>
          <div ref="joinUs">
            <v-card class="pb-10">
              <v-card-title class="font-weight-bold mt-10">Join Our Community</v-card-title>
              <v-card-text>
                <p>Welcome! We're excited to have you join our community. Follow the steps below to get started:</p>
                <!-- <v-list>
                  <v-list-item>
                    <v-list-item-title>Watch our tutorial videos</v-list-item-title>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-title><a href="https://www.youtube.com/watch?v=example1" target="_blank">Video 1: How to Register</a></v-list-item-title>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-title><a href="https://www.youtube.com/watch?v=example2" target="_blank">Video 2: Completing Your Profile</a></v-list-item-title>
                  </v-list-item>
                </v-list> -->
                <v-btn class="mt-10" color="orange-lighten-4" href="https://docs.google.com/forms/d/e/1FAIpQLScax1nMlZaV85a-pVshvCZBKn1SZz_ddtz0GZk1BV0CvuahJw/viewform?usp=header" target="_blank">Fill the Registration Form</v-btn>
              </v-card-text>
            </v-card>
          </div>
        </v-col>
      </v-row>

      <v-row class="mt-10 ml-10 mr-10">
        <v-col>
          <div ref="becomeVolunteer">


            <v-card class="pb-10">
              <v-card-title class="font-weight-bold mt-10">Become a Volunteer</v-card-title>
              <v-card-text>
                <v-row>
                  <v-col>
                    <p>
                      Join us in building a supportive community!
                    </p>
                    <p>
                      We are passionate about creating a vibrant and supportive
                      community for Indian-origin parents and their young adult
                      children in the United States. Your experience, insights, and
                      dedication can make a significant impact. We invite you to
                      become a volunteer and help us foster an environment where
                      members feel connected, supported, and empowered.
                    </p>
                  </v-col>
                </v-row>

                <v-divider class="mt-5"></v-divider>

                <v-row>
                  <v-col>
                    <v-card-title class="font-weight-bold mt-10">Why Volunteer with Us?</v-card-title>
                    <v-row class="pl-10 pr-10">
                      <v-col
                        v-for="(item, index) in whyVolunteer"
                        :key="index" cols="12" md="6" lg="4">
                        <v-card class="mx-auto">
                          <v-card-title class="text-wrap headline">{{ item.title }}</v-card-title>
                          <v-card-text>
                            {{ item.description }}
                          </v-card-text>
                        </v-card>
                      </v-col>
                    </v-row>


                  </v-col>
                </v-row>

                <v-divider class="mt-5"></v-divider>

                <v-row>
                  <v-col>
                    <v-card-title class="font-weight-bold mt-10">How You Can Contribute?</v-card-title>
                    <v-row class="pl-10 pr-10">
                      <v-col
                        v-for="(item, index) in howToContribute"
                        :key="index" cols="12" md="6" lg="4">
                        <v-card class="mx-auto">
                          <v-card-title class="text-wrap headline">{{ item.title }}</v-card-title>
                          <v-card-text>
                            {{ item.description }}
                          </v-card-text>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>

                <v-divider class="mt-5"></v-divider>

                <v-row>
                  <v-col>
                    <v-card-title class="font-weight-bold mt-10">How to Get Started?</v-card-title>
                    <p>
                      If you are interested in volunteering, please fill out the
                      form below or contact us directly at
                      <a href="mailto:youremail@example.com"
                        >youremail@example.com</a
                      >. We will reach out to discuss your interests, availability,
                      and how you can best contribute to our community.
                    </p>
                    <v-btn class="mt-5" color="orange-lighten-4" href="/volunteer-application"
                      >Volunteer Application Form</v-btn
                    >
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>

          </div>
        </v-col>
      </v-row>



    </v-container>
  </script>

  <style>
    .app-style {
      background-color: #f9cc9f;
      /* background-image: url("images/flower-tile.webp");
      background-size: 100% auto;
      background-position: top; */

      /* Align the image to the top */
      width: 100%;
      /* Ensure the element takes the full width of its container */
    }

    .flex-card {
      display: flex;
      flex-direction: column;
      height: 400px;
      /* Set a fixed height for the card */
    }

    .flex-grow-1 {
      flex-grow: 1;
    }
  </style>
</head>

<body>
  <div id="app">
    <v-app class="app-style">
      <v-app-bar flat color="transparent">
        <v-app-bar-title class="font-weight-bold" @click="$router.push('/')">
          <v-img 
            src="/images/logo-thumb.png" 
            alt="Logo" 
            max-width="20"
            class="mr-2"
          ></v-img>
          Kaumar
        </v-app-bar-title>

        <v-spacer></v-spacer>
        <v-btn variant="plain" class="XXmt-5" to="/">Home</v-btn>
        <v-btn variant="plain" class="XXmt-5" to="/faq">FAQ</v-btn>
        <v-btn variant="plain" class="XXmt-5" to="/about">About</v-btn>
      </v-app-bar>

      <v-main>
        <router-view></router-view>
      </v-main>


      <v-footer class="text-center d-flex flex-column ga-2 py-4 mt-10" color="orange-accent-2">
        <div class="d-flex ga-3">
          <v-btn v-for="icon in icons" :key="icon" :icon="icon" density="comfortable" variant="text"></v-btn>
        </div>

        <v-divider class="my-2" thickness="2" width="50"></v-divider>

        <div XXclass="text-caption font-weight-regular opacity-60">
          Connect, Support, Thrive: Building Bridges Across Generations
        </div>

        <v-divider></v-divider>

        <div>
          © 2025 Kaumar. All rights reserved.
        </div>
      </v-footer>

      <v-snackbar v-model="snackbar" :color="snackbarColor">
        {{ snackbarText }}
        <template v-slot:actions>
          <v-btn color="white" text @click="snackbar = false">Close</v-btn>
        </template>
      </v-snackbar>
    </v-app>
  </div>

  <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.7.15/dist/vuetify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.7.15/dist/vuetify-labs.min.js"></script>
  <script src="https://unpkg.com/vue-router@4.2.4/dist/vue-router.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

  <script>
    const { createApp, ref } = Vue;
    const { createVuetify } = Vuetify;
    const { createRouter, createWebHashHistory } = VueRouter;

    const store = {
      state: {}
    }

    const Home = {
      template: '#home-template',
      data: function () {
        return {
          state: store.state,
          cards: [
            {
              id: "learnMore",
              title: "Learn More",
              // title: "Discover What Kaumar Offers",
              description: "Curious about how Kaumar can support you and your family? Learn more about our community, events, resources, and the benefits of membership.",
              buttonCaption: "Learn More",
              image: "/images/learn-more.jpg", // Replace with your image URL
            },
            {
              id: "joinUs",
              title: "Join Us Now",
              // title: "Become a Part of Our Community",
              description: "Ready to connect with like-minded individuals and start sharing your experiences? Join Kaumar today and become a part of a supportive network of Indian-origin parents and young adults.",
              buttonCaption: "Join Us Now",
              image: "/images/join-us.jpg", // Replace with your image URL
            },
            {
              id: "becomeVolunteer",
              title: "Become a Volunteer",
              // title: "Make a Difference with Kaumar",
              description: "Passionate about helping others? Become a volunteer and contribute to our community by supporting events, sharing your expertise, and making a positive impact.",
              buttonCaption: "Become a Volunteer",
              image: "/images/becom-volunteer.jpeg", // Replace with your image URL
            }
          ],
          goalsAndObjectives: [
            {
              "title": "Cultivate a Sense of Belonging:",
              "description": "Create an inclusive environment where both parents and young adults feel connected and supported by like-minded individuals who understand and share similar cultural and familial values."
            },
            {
              "title": "Mutual Support System:",
              "description": "Enable parents and young adults to offer and receive emotional, practical, and informational support from one another, fostering a collaborative and empathetic community."
            },
            {
              "title": "Experience Sharing Platform:",
              "description": "Provide a dedicated space for parents to share their experiences, challenges, and successes in guiding their children through the process of finding life partners, and for young adults to share their perspectives, experiences, and advice on relationships and marriage."
            },
            {
              "title": "Facilitate Intergenerational Understanding:",
              "description": "Promote meaningful interactions between parents and young adults to enhance mutual understanding, respect, and support across generations."
            },
            {
              "title": "Empower Young Adults:",
              "description": "Equip young adults with the tools, resources, and support they need to navigate their relationships and marriage journeys confidently and successfully."
            },
            {
              "title": "Cultural Preservation and Integration:",
              "description": "Support the preservation of Indian cultural values and traditions while helping members integrate these values into modern relationship dynamics in the US context."
            },
            {
              "title": "Resource and Networking Hub:",
              "description": "Serve as a central hub for valuable resources, recommendations, and networking opportunities to aid both parents and young adults in their search for life partners and in building fulfilling relationships."
            }
          ],
          rules: [
            {
              "title": "Be Respectful and Inclusive:",
              "description": "Treat everyone with kindness and avoid any form of discrimination."
            },
            {
              "title": "Stay On-Topic:",
              "description": "Keep discussions relevant to our group\u2019s purpose."
            },
            {
              "title": "Respect Privacy:",
              "description": "Maintain confidentiality of shared information."
            },
            {
              "title": "Offer Constructive Feedback:",
              "description": "Provide helpful and positive advice."
            },
            {
              "title": "Avoid Self-Promotion:",
              "description": "Refrain from promoting products or services."
            },
            {
              "title": "Handle Conflicts Gracefully:",
              "description": "Resolve disputes amicably and report any issues to admins."
            },
            {
              "title": "Use Appropriate Language:",
              "description": "Keep communications clear and considerate."
            }
          ],
          whyVolunteer: [
            {
              "title": "Make a Difference:",
              "description": "Contribute to a community that values cultural preservation, intergenerational understanding, and mutual support."
            },
            {
              "title": "Share Your Expertise:",
              "description": "Offer your knowledge and experience to help parents and young adults navigate the complexities of relationships and marriage."
            },
            {
              "title": "Build Connections:",
              "description": "Engage with like-minded individuals and form meaningful relationships within the community."
            },
            {
              "title": "Personal Growth:",
              "description": "Enhance your own skills and perspectives by interacting with a diverse group of members."
            }
          ],
          howToContribute: [
            {
              "title": "Mentorship and Guidance:",
              "description": "Provide mentorship to young adults, offering advice and support as they navigate their relationships. Share your experiences and insights with parents to help them guide their children effectively."
            },
            {
              "title": "Event Planning and Execution:",
              "description": "Assist in organizing and hosting community events, workshops, and virtual meetups. Help create engaging activities that promote interaction and learning."
            },
            {
              "title": "Content Creation:",
              "description": "Contribute articles, videos, or other resources that provide valuable information and support to community members. Share success stories, tips, and cultural insights."
            },
            {
              "title": "Moderation and Support:",
              "description": "Serve as a moderator for community discussions, ensuring a respectful and supportive environment. Provide assistance and support to members who may need guidance or have questions."
            },
            {
              "title": "Outreach and Promotion:",
              "description": "Help spread the word about our community to attract new members. Collaborate with local Indian cultural organizations and community leaders to promote our initiatives."
            }
          ]
        }
      },
      methods: {
        cardAction(id) {
          console.log(`Card action: ${id}`);
          this.$refs[id].scrollIntoView({ behavior: 'smooth' });
        }
      },
      mounted() {
        console.log('Home mounted');
      },
      created() {
        console.log('Home created');
      }
    }

    const About = {
      template: '#about-template',
      data: function () {
        return {
          state: store.state,
        }
      },
      methods: {
      },
      mounted() {
        console.log('About mounted');
      },
      created() {
        console.log('About created');
      }
    }

    const FAQ = {
      template: '#faq-template',
      data: function () {
        return {
          state: store.state,

          faqs: [
            {
              "title": "General",
              "faqs": [
                {
                  "question": "What is the purpose of Kaumar?",
                  "answer": "Kaumar is a dedicated community for Indian-origin parents and their young adult children residing in the United States. Our primary goal is to create a supportive and inclusive environment where members can share experiences, offer mutual support, and navigate the journey of relationships and marriage with cultural understanding and modern perspectives."
                },
                {
                  "question": "Who can join Kaumar?",
                  "answer": "Kaumar is open to Indian-origin parents and their young adult children (typically aged 18-35) who are interested in fostering a sense of belonging, mutual support, and cultural preservation within a community setting."
                },
                {
                  "question": "Is there a membership fee?",
                  "answer": "Kaumar is currently a free-to-join community. However, we may introduce membership tiers or optional contributions in the future to support community activities and resources."
                }
              ]
            },
            {
              "title": "Community Structure",
              "faqs": [
                {
                  "question": "How is the community organized?",
                  "answer": "The community is organized into three distinct subgroups:\n- Parents Group: Exclusively for parents to discuss strategies, share insights, and support each other.\n- Young Adults Group: A space for young adults to engage in discussions, seek advice, and share their perspectives.\n- Common Group: An inclusive forum where both parents and young adults can interact and exchange ideas."
                },
                {
                  "question": "What kind of activities does the community host?",
                  "answer": "The community hosts a variety of activities, including:\n- Virtual meetups and social events\n- Q&A sessions with relationship experts\n- Workshops on relationship building and cultural preservation\n- Cultural celebration events\n- Resource sharing and success story sessions"
                },
                {
                  "question": "Is Kaumar affiliated with any other institutions?",
                  "answer": "No, Kaumar is an independent community and is not affiliated with any other institutions, organizations, or entities. We operate solely to support our members and foster a sense of community among Indian-origin parents and young adults in the United States."
                }
              ]
            },
            {
              "title": "Participation and Engagement",
              "faqs": [
                {
                  "question": "How can I get involved in the community?",
                  "answer": "You can get involved by:\n- Joining one or more of the subgroups that align with your interests.\n- Participating in community events and activities.\n- Sharing your experiences, challenges, and successes in the discussion forums.\n- Offering support and advice to other members."
                },
                {
                  "question": "Can I invite friends or family to join the community?",
                  "answer": "Yes, we encourage members to invite friends and family who would benefit from the community’s support and resources. You can share the community’s invitation link with them."
                }
              ]
            },
            {
              "title": "Partner Search Clarification",
              "faqs": [
                {
                  "question": "Is Kaumar for finding life partners within the community?",
                  "answer": "While members may form connections and friendships within the community, the primary purpose of Kaumar is not to facilitate the search for life partners among its members. Our community serves as a supportive network that provides emotional, practical, and informational support and may offer recommendations and resources to aid in the search for life partners externally."
                }
              ]
            },
            {
              "title": "Privacy and Safety",
              "faqs": [
                {
                  "question": "How does the community ensure member privacy and safety?",
                  "answer": "Kaumar is committed to maintaining member privacy and safety. All interactions within the community are confidential, and we have moderators to ensure discussions remain constructive and supportive. We also have safety measures in place to protect members from harassment or inappropriate behavior."
                },
                {
                  "question": "What should I do if I encounter inappropriate behavior?",
                  "answer": "If you encounter any inappropriate behavior, please report it to the community moderators immediately. We take all reports seriously and will take appropriate action to address the issue."
                }
              ]
            },
            {
              "title": "Additional Resources",
              "faqs": [
                {
                  "question": "Are there any resources available for members?",
                  "answer": "Yes, we offer a resource library with articles, videos, and guides on various topics related to relationships, marriage, and cultural preservation. Members can access these resources to enhance their understanding and support within the community."
                }
              ]
            }
          ]
        }
      },
      methods: {
      },
      mounted() {
        console.log('FAQ mounted');
      },
      created() {
        console.log('FAQ created');
      }
    }


    const snackbarMixin = {
      data() {
        return {
          snackbar: false,
          snackbarText: '',
          snackbarColor: 'success',
        }
      },
      methods: {
        showSnackbar(text, color = 'success') {
          this.snackbarText = text;
          this.snackbarColor = color;
          this.snackbar = true;
        }
      }
    };

    const routes = [
      { path: '/', name: 'Home', component: Home },
      { path: '/faq', name: 'FAQ', component: FAQ },
      { path: '/about', name: 'About', component: About }
    ];

    const router = createRouter({
      history: createWebHashHistory(),
      routes
    });

    const vuetify = createVuetify({
      theme: {
        themes: {
          light: {
            dark: false
          },
        },
      }
    });

    const app = createApp({
      mixins: [snackbarMixin],

      data() {
        return {
          icons: [
            'mdi-facebook',
            'mdi-twitter',
            'mdi-linkedin',
            'mdi-instagram',
          ]
        };
      },
      methods: {
      }
    });

    app.use(vuetify);
    app.use(router);
    const vm = app.mount('#app');
  </script>

  <script>
  </script>
</body>

</html>